/* ----- ABOUT ---------------------------------
----- Decodificador de texto [HTML, CSS & JS] --
----- 1º desafio, Programa ONE(Oracle + Alura) -
----- Desenvolvido por Milla Thomaz/@thomillaz -
--------------------------------------------- */
/* ----- SETTINGS --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    inset: none;
    outline: none;
}
:root{
    --fontBody: 'Inconsolata', monospace;
    --fontColor: #9d66d6;
    --titleColor: #d088f3;
    --bgColor: #f3f1f4;
    --bgShow: #fff;
    --linkColor: #a4ace3;
    --hover: #da8bc1;
}
body{
    color: var(--fontColor);
    font-family: var(--fontBody);
    background: var(--bgColor);
}
:hover{
    transition: all 1s;
}
a:link,
a:visited{
    color: var(--linkColor);
}
@keyframes floating{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    10%{
        transform: translateY(-10px);
    }
}
/* ----- HEADER ----------------------------- */
header{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 5px 20px;
}
header #logo{
    height: 100%;
    margin-right: 20px;
}
header h1{
    color: var(--titleColor);
    font-weight: 200;
}
header h1::before{
    content: '[';
    color: var(--fontColor);
}
header h1::after{
    content: ']';
    color: var(--fontColor);
}
/* ----- MAIN ------------------------------- */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 1px 0;
}
.container{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.block-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 500px;
    border: 1px solid var(--hover);
}
.block-input__text{
    padding: 20px;
}
.block-input__text textarea{
    font-size: 22px;
    background: transparent;
    font-family: var(--fontBody);
    color: var(--fontColor);
    width: 100%;
    height: 300px;
    resize: none;
}
.block-input__footer{
    padding: 20px;
}
.block-input__footer .aviso{
    font-size: 12px;
    padding: 5px 0;
}
.block-input__footer .buttons{
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.block-input__footer button{
    font-family: var(--fontBody);
    padding: 5px;
    border-radius: 10px;
    width: 180px;
    height: 35px;
    cursor: pointer;
    margin: 5px;
}
.block-input__footer .encrypt{
    color: var(--bgColor);
    background: var(--linkColor);
}
.block-input__footer .encrypt:hover{
    background-color: var(--hover);
}
.block-input__footer .decrypt{
    color: var(--linkColor);
    background: var(--bgShow);
    border: 1px solid var(--linkColor);
}
.block-input__footer .decrypt:hover{
    color: var(--hover);
    border: 1px solid var(--hover);
}
.block-show{
    background: var(--bgShow);
    width: 300px;
    height: 500px;
    box-shadow: 1px 1px 10px #2c277633;
}
.block-show__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.block-show #show__img{
    width: 70%;
    transform: translateY(-10px);
    animation: floating 5s infinite;
}
.block-show__text .title{
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;
}
/* ----- FOOTER ----------------------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    bottom: 0;
}
/* ----- MOBILE ----------------------------- */
@media(max-width: 1096px){
    .block-show #show__img{
        display: none;
    }
    .block-input{
        height: 300px;
    }
    .block-input__text textarea{
        height: auto;
    }
    .block-show{
        width: 700px;
        height: auto;
    }
    footer{
        margin-top: 30px;
    }
}

@media(max-width: 523px){
    .block-input__footer button{
        margin: 5px;
        flex-grow: 3;
    }
    footer{
        margin-top: 0;
    }
}